In [1]:
import pyspark as ps

spark = ps.sql.SparkSession.builder \
            .master("local[4]") \
            .appName("df lecture") \
            .getOrCreate()
sc=spark.sparkContext

In [2]:
dir_link = '/home/asus/spark-dfs/'
yelp_business_df = spark.read.json(dir_link + 'data/yelp_academic_dataset_business.json.gz')

In [4]:
yelp_business_df.show()

+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
|          attributes|         business_id|          categories|       city|        full_address|               hours|  latitude|  longitude|                name|neighborhoods| open|review_count|stars|state|    type|
+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
|[,,,,,,,, true,,,...|vcNAWiLM4dR7D2nww...|[Doctors, Health ...|    Phoenix|4840 E Indian Sch...|[[17:00, 08:00], ...| 33.499313|-111.983758|   Eric Goldberg, MD|           []| true|           9|  3.5|   AZ|business|
|[true,,,,,,,,,,,,...|UsFtqoBl7naz8AVUB...|         [Nightlife]| Dravosburg|202 McClure St
Dr...|            [,,,,,,]| 40.350519|  -79.88693|        Clancy's Pub|           []| true|           4|  3.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|cE27W9VPgO88Qxe4o...|[Active Life, Min...|Bethel Park|1530 Hamilton Rd
...|            [,,,,,,]|40.3568962|  -80.01591|Cool Springs Golf...|           []|false|           5|  2.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|HZdLhv6COCleJMo7n...|[Shopping, Home S...| Pittsburgh|301 S Hills Vlg
P...|[[21:00, 10:00], ...|  40.35762|  -80.05998|    Verizon Wireless|           []| true|           3|  3.5|   PA|business|
|[true,,, full_bar...|mVHrayjG3uZ_RLHkL...|[Bars, American (...|   Braddock|414 Hawkins Ave
B...|[[20:00, 10:00],,...| 40.408735|-79.8663507|       Emil's Lounge|           []| true|          11|  4.5|   PA|business|
|[true,,, full_bar...|KayYbHCt-RkbGcPdG...|[Bars, American (...|   Carnegie|141 Hawthorne St
...|            [,,,,,,]| 40.415517| -80.067534|Alexion's Bar & G...|  [Greentree]| true|          15|  4.0|   PA|business|
|[,,,,,,,,,,,,,,,,...|b12U9TFESStdy7CsT...|[Auto Repair, Aut...|   Carnegie|718 Hope Hollow R...|            [,,,,,,]| 40.394588|-80.0844539|Flynn's E W Tire ...|           []| true|           5|  1.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|Sktj1eHQFuVa-M4bg...|[Active Life, Min...|   Carnegie|920 Forsythe Rd
C...|            [,,,,,,]|40.4054039|-80.0762665|Forsythe Miniatur...|   [Carnegie]| true|           4|  4.0|   PA|business|
|[,,,,,,,,,,,,,,,,...|3ZVKmuK2l7uXPE6lX...|[Home Services, C...|   Carnegie|8 Logan St
Carneg...|            [,,,,,,]| 40.406324| -80.090357|Quaker State Cons...|   [Carnegie]| true|           3|  2.5|   PA|business|
|[true,,, none,, c...|wJr6kSA5dchdgOdwH...|[Burgers, Breakfa...|   Carnegie|2100 Washington P...|[[02:00, 08:00], ...|40.3877323|-80.0928745|Kings Family Rest...|           []| true|           8|  3.5|   PA|business|
|[true,,,,,,,,,,,,...|yXuao0pFz1AxB21vJ...|     [Food, Grocery]|   Carnegie|2100 Washington P...|            [,,,,,,]|40.3877323|-80.0928745|         Shop N'save|           []| true|           3|  3.5|   PA|business|
|[true,,, full_bar...|fNGIbpazjTRdXgwRY...|[Bars, American (...|   Carnegie|1201 Washington A...|            [,,,,,,]|40.3964688|-80.0849416|      Rocky's Lounge|           []| true|           5|  4.0|   PA|business|
|[false,,, none, [...|b9WZJp5L1RZr4F1nx...|[Breakfast & Brun...|   Carnegie|1073 Washington A...|[[14:30, 06:00], ...|40.3967441|-80.0847998|           Gab & Eat|           []| true|          38|  4.5|   PA|business|
|[true,,, none, [f...|zaXDakTd3RXyOa7sM...|[Cafes, Restaurants]|   Carnegie|202 3rd Ave
Carne...|            [,,,,,,]| 40.404638| -80.089985|Barb's Country Ju...|   [Carnegie]| true|           5|  4.0|   PA|business|
|[true,,,,,,,,,,,,...|zgy27FSnvwdINfk5c...|[Hotels & Travel,...|   Carnegie|520 North Bell Av...|[[00:00, 00:00], ...| 40.417419| -80.088557|Extended Stay Ame...|   [Carnegie]| true|           5|  4.0|   PA|business|
|[true,,, full_bar...|WETE_LykpcnrC1sFc...|[Pubs, Irish, Nig...|   Carnegie|215 E Main St
Car...|            [,,,,,,]|  40.40867| -80.085279|  Paddy's Pour House|   [Carnegie]|false|           6|  3.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|6o3RK6rTcN3nw-j-r...|                  []|   Carnegie|231 E Main St
Car...|            [,,,,,,]|40.4085677|-80.0849924|Porto Fino Pizzar...|   [Carnegie]| true|           4|  2.5|   PA|business|
|[false,,,,,,,,,,,...|woOVJ0Z2f6XNCDntH...|[Local Services, ...|   Carnegie|117 E Mall Plz
Ca...|[[19:00, 08:30], ...|40.4078889|  -80.08606|    Alteration World|   [Carnegie]| true|           5|  5.0|   PA|business|
|[true,,, none, [f...|rv7CY8G_XibTx82Yh...|       [Restaurants]|   Carnegie|Raceway Plz
Carne...|            [,,,,,,]|40.3868915|-80.0937037|  Long John Silver's|           []| true|           3|  3.5|   PA|business|
|[,,,,,,,, true,,,...|e_U_FnpdKVgNb4mUN...|[Health & Medical...|   Carnegie|2323 Greentree Rd...|            [,,,,,,]|  40.39076| -80.078657|  Weinberg Lisa, DMD|           []| true|           6|  2.0|   PA|business|
+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
only showing top 20 rows

In [6]:
yelp_business_df.printSchema()

root
 |-- attributes: struct (nullable = true)
 |    |-- Accepts Credit Cards: string (nullable = true)
 |    |-- Accepts Insurance: boolean (nullable = true)
 |    |-- Ages Allowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: struct (nullable = true)
 |    |    |-- casual: boolean (nullable = true)
 |    |    |-- classy: boolean (nullable = true)
 |    |    |-- divey: boolean (nullable = true)
 |    |    |-- hipster: boolean (nullable = true)
 |    |    |-- intimate: boolean (nullable = true)
 |    |    |-- romantic: boolean (nullable = true)
 |    |    |-- touristy: boolean (nullable = true)
 |    |    |-- trendy: boolean (nullable = true)
 |    |    |-- upscale: boolean (nullable = true)
 |    |-- Attire: string (nullable = true)
 |    |-- BYOB: boolean (nullable = true)
 |    |-- BYOB/Corkage: string (nullable = true)
 |    |-- By Appointment Only: boolean (nullable = true)
 |    |-- Caters: boolean (nullable = true)
 |    |-- Coat Check: boolean (nullable = true)
 |    |-- Corkage: boolean (nullable = true)
 |    |-- Delivery: boolean (nullable = true)
 |    |-- Dietary Restrictions: struct (nullable = true)
 |    |    |-- dairy-free: boolean (nullable = true)
 |    |    |-- gluten-free: boolean (nullable = true)
 |    |    |-- halal: boolean (nullable = true)
 |    |    |-- kosher: boolean (nullable = true)
 |    |    |-- soy-free: boolean (nullable = true)
 |    |    |-- vegan: boolean (nullable = true)
 |    |    |-- vegetarian: boolean (nullable = true)
 |    |-- Dogs Allowed: boolean (nullable = true)
 |    |-- Drive-Thru: boolean (nullable = true)
 |    |-- Good For: struct (nullable = true)
 |    |    |-- breakfast: boolean (nullable = true)
 |    |    |-- brunch: boolean (nullable = true)
 |    |    |-- dessert: boolean (nullable = true)
 |    |    |-- dinner: boolean (nullable = true)
 |    |    |-- latenight: boolean (nullable = true)
 |    |    |-- lunch: boolean (nullable = true)
 |    |-- Good For Dancing: boolean (nullable = true)
 |    |-- Good For Groups: boolean (nullable = true)
 |    |-- Good For Kids: boolean (nullable = true)
 |    |-- Good for Kids: boolean (nullable = true)
 |    |-- Hair Types Specialized In: struct (nullable = true)
 |    |    |-- africanamerican: boolean (nullable = true)
 |    |    |-- asian: boolean (nullable = true)
 |    |    |-- coloring: boolean (nullable = true)
 |    |    |-- curly: boolean (nullable = true)
 |    |    |-- extensions: boolean (nullable = true)
 |    |    |-- kids: boolean (nullable = true)
 |    |    |-- perms: boolean (nullable = true)
 |    |    |-- straightperms: boolean (nullable = true)
 |    |-- Happy Hour: boolean (nullable = true)
 |    |-- Has TV: boolean (nullable = true)
 |    |-- Music: struct (nullable = true)
 |    |    |-- background_music: boolean (nullable = true)
 |    |    |-- dj: boolean (nullable = true)
 |    |    |-- jukebox: boolean (nullable = true)
 |    |    |-- karaoke: boolean (nullable = true)
 |    |    |-- live: boolean (nullable = true)
 |    |    |-- playlist: boolean (nullable = true)
 |    |    |-- video: boolean (nullable = true)
 |    |-- Noise Level: string (nullable = true)
 |    |-- Open 24 Hours: boolean (nullable = true)
 |    |-- Order at Counter: boolean (nullable = true)
 |    |-- Outdoor Seating: boolean (nullable = true)
 |    |-- Parking: struct (nullable = true)
 |    |    |-- garage: boolean (nullable = true)
 |    |    |-- lot: boolean (nullable = true)
 |    |    |-- street: boolean (nullable = true)
 |    |    |-- valet: boolean (nullable = true)
 |    |    |-- validated: boolean (nullable = true)
 |    |-- Payment Types: struct (nullable = true)
 |    |    |-- amex: boolean (nullable = true)
 |    |    |-- cash_only: boolean (nullable = true)
 |    |    |-- discover: boolean (nullable = true)
 |    |    |-- mastercard: boolean (nullable = true)
 |    |    |-- visa: boolean (nullable = true)
 |    |-- Price Range: long (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- Take-out: boolean (nullable = true)
 |    |-- Takes Reservations: boolean (nullable = true)
 |    |-- Waiter Service: boolean (nullable = true)
 |    |-- Wheelchair Accessible: boolean (nullable = true)
 |    |-- Wi-Fi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- city: string (nullable = true)
 |-- full_address: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Monday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Saturday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Sunday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Thursday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Tuesday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Wednesday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhoods: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- open: boolean (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)
 |-- type: string (nullable = true)

In [8]:
yelp_business = yelp_business_df.createOrReplaceTempView("yelp_business")

In [9]:
result = spark.sql("SELECT name, city, state,stars, attributes FROM yelp_business LIMIT 10")
result.show()

+--------------------+-----------+-----+-----+--------------------+
|                name|       city|state|stars|          attributes|
+--------------------+-----------+-----+-----+--------------------+
|   Eric Goldberg, MD|    Phoenix|   AZ|  3.5|[,,,,,,,, true,,,...|
|        Clancy's Pub| Dravosburg|   PA|  3.5|[true,,,,,,,,,,,,...|
|Cool Springs Golf...|Bethel Park|   PA|  2.5|[,,,,,,,,,,,,,,,,...|
|    Verizon Wireless| Pittsburgh|   PA|  3.5|[,,,,,,,,,,,,,,,,...|
|       Emil's Lounge|   Braddock|   PA|  4.5|[true,,, full_bar...|
|Alexion's Bar & G...|   Carnegie|   PA|  4.0|[true,,, full_bar...|
|Flynn's E W Tire ...|   Carnegie|   PA|  1.5|[,,,,,,,,,,,,,,,,...|
|Forsythe Miniatur...|   Carnegie|   PA|  4.0|[,,,,,,,,,,,,,,,,...|
|Quaker State Cons...|   Carnegie|   PA|  2.5|[,,,,,,,,,,,,,,,,...|
|Kings Family Rest...|   Carnegie|   PA|  3.5|[true,,, none,, c...|
+--------------------+-----------+-----+-----+--------------------+

In [10]:
name = spark.sql(''' 
SELECT name, stars, city,categories 
FROM yelp_business LATERAL VIEW explode(categories) yelp_business as Ybiz
WHERE (city == 'Phoenix' 
AND stars == 5
AND attributes.`Accepts Credit Cards` =='true'
AND (Ybiz == 'Restaurants' OR Ybiz =='Food'))
''')

In [11]:
name.show()

+--------------------+-----+-------+--------------------+
|                name|stars|   city|          categories|
+--------------------+-----+-------+--------------------+
|     Sunshine Market|  5.0|Phoenix|     [Food, Grocery]|
|       See's Candies|  5.0|Phoenix|[Food, Specialty ...|
|The Water Connection|  5.0|Phoenix|[Food, Ice Cream ...|
|Hostess Bakery Ou...|  5.0|Phoenix|    [Bakeries, Food]|
|    Cave Creek Wines|  5.0|Phoenix|[Food, Beer, Wine...|
|Water and Ice Ahw...|  5.0|Phoenix|[Food, Ice Cream ...|
|       Auslers Grill|  5.0|Phoenix|       [Restaurants]|
|Mulligan's Restau...|  5.0|Phoenix|       [Restaurants]|
|            QuikTrip|  5.0|Phoenix|[Food, Automotive...|
|     Danzeisen Dairy|  5.0|Phoenix|         [Food, CSA]|
|             Sunfare|  5.0|Phoenix|[Food Delivery Se...|
|             Sunfare|  5.0|Phoenix|[Food Delivery Se...|
|        Trader Joe's|  5.0|Phoenix|[Food, Beer, Wine...|
|       Dream Dinners|  5.0|Phoenix|[Food, Do-It-Your...|
|              Subway|  5.0|Phoenix|[Fast Food, Sandw...|
|  McClendon's Select|  5.0|Phoenix|[Food, Specialty ...|
|Emerald City Smoo...|  5.0|Phoenix|[Food, Juice Bars...|
|           Lil Cal's|  5.0|Phoenix|       [Restaurants]|
|    Xanadu Coffee Co|  5.0|Phoenix|[Food, Coffee & Tea]|
|            QuikTrip|  5.0|Phoenix|[Food, Automotive...|
+--------------------+-----+-------+--------------------+
only showing top 20 rows

In [12]:
from pyspark.sql.types import *
from pyspark.sql.functions import unix_timestamp, col

In [13]:
schema = StructType([
    StructField('id',IntegerType(), True),
    StructField('name', StringType(), True),
    StructField('email', StringType(), True),
    StructField('number', StringType(), True)])

In [14]:
yelp = spark.read.csv(dir_link + 'data/users.txt',sep = ';', schema=schema)

In [105]:
yelp.createOrReplaceTempView('users')

In [15]:
yelp.show(5)

+----------+-----------------+--------------------+--------------------+
|        id|             name|               email|              number|
+----------+-----------------+--------------------+--------------------+
|1106214172|Prometheus Barwis|prometheus.barwis...|      (533) 072-2779|
| 527133132|Ashraf Bainbridge|ashraf.bainbridge...|                null|
|1290614884|   Alain Hennesey|alain.hennesey@fa...|(942) 208-8460,(8...|
|1700818057| Hamed Fingerhuth|hamed.fingerhuth@...|                null|
|  17378782|    Annamae Leyte|annamae.leyte@msn...|                null|
+----------+-----------------+--------------------+--------------------+
only showing top 5 rows

In [16]:
from pyspark.sql.types import *
from pyspark.sql.functions import unix_timestamp, col

In [96]:
def casting_function(row):
    user_id, money, date = row
    return (int(user_id), float(money), str(date))


transactions_rdd = sc.textFile(dir_link + 'data/transactions.txt')\
                    .map(lambda rowstr : rowstr.replace('$',''))\
                    .map(lambda line : line.split(';'))\
                    .map(casting_function)
                    #.map(lambda line : casting_function(line))
transactions_rdd.collect()

[(815581247, 144.82, '2015-09-05'),
 (1534673027, 140.93, '2014-03-11'),
 (842468364, 104.26, '2014-05-06'),
 (1720001139, 194.6, '2015-08-24'),
 (1397891675, 307.72, '2015-09-25'),
 (926282663, 36.69, '2014-10-24'),
 (694853136, 39.59, '2014-11-26'),
 (636287877, 430.94, '2015-06-12'),
 (1396310477, 31.4, '2014-12-05'),
 (1279939289, 180.69, '2015-03-26'),
 (859061953, 383.35, '2014-06-06'),
 (1983919868, 256.2, '2015-09-28'),
 (589339046, 930.56, '2014-09-21'),
 (1559785598, 423.77, '2015-05-18'),
 (347589978, 309.53, '2015-10-11'),
 (963722938, 299.19, '2014-04-06'),
 (1808365853, 426.21, '2015-09-10'),
 (417552135, 732.27, '2015-09-30'),
 (744965566, 186.33, '2015-12-30'),
 (1513020241, 925.8, '2014-10-06'),
 (1053481166, 679.98, '2015-01-02'),
 (1796495372, 569.92, '2015-12-19'),
 (175508097, 335.88, '2014-09-10'),
 (1961899399, 818.2, '2015-05-12'),
 (1310696499, 422.99, '2015-08-10'),
 (1481791532, 759.72, '2015-06-28'),
 (1279296600, 789.16, '2015-08-03'),
 (296132510, 976.36, '2014-04-29'),
 (547637394, 865.55, '2015-04-06'),
 (589339046, 722.46, '2014-03-07'),
 (1726671720, 629.69, '2015-03-25'),
 (1467976104, 441.31, '2015-02-11'),
 (1711142055, 622.1, '2015-03-17'),
 (1967014702, 814.4, '2015-03-27'),
 (1316639010, 87.6, '2015-02-25'),
 (914517638, 140.63, '2014-08-02'),
 (734939968, 357.46, '2014-08-12'),
 (505310101, 698.65, '2015-05-06'),
 (95542057, 237.44, '2015-03-29'),
 (588948156, 149.6, '2015-12-03'),
 (1001854788, 414.4, '2015-12-18'),
 (50908782, 197.81, '2015-04-04'),
 (893394248, 592.1, '2014-11-08'),
 (700487193, 751.73, '2014-04-01'),
 (145643641, 423.71, '2015-03-20'),
 (415751671, 975.1, '2015-02-09'),
 (1430008504, 55.82, '2014-02-26'),
 (98162997, 636.35, '2015-04-29'),
 (1657613978, 45.58, '2014-06-26'),
 (1085846656, 747.75, '2015-09-10'),
 (1878525907, 911.27, '2015-04-18'),
 (1586026558, 626.82, '2015-05-21'),
 (1896446158, 463.87, '2014-06-30'),
 (828209781, 840.42, '2014-04-01'),
 (1075155679, 54.76, '2014-07-12'),
 (1808579337, 146.96, '2014-08-15'),
 (692463011, 532.12, '2014-02-16'),
 (1530687521, 407.0, '2015-04-25'),
 (1523305588, 842.4, '2014-05-01'),
 (1758163338, 109.61, '2014-07-17'),
 (669747156, 770.64, '2014-06-23'),
 (1159374579, 402.62, '2014-05-21'),
 (400467745, 90.49, '2014-07-27'),
 (1895226609, 573.35, '2014-11-17'),
 (459190561, 457.6, '2015-10-04'),
 (6658981, 785.39, '2015-10-11'),
 (1689050220, 920.48, '2014-01-14'),
 (1560785975, 482.88, '2015-05-13'),
 (170412255, 809.28, '2015-02-14'),
 (823596698, 143.82, '2014-02-25'),
 (494426311, 567.88, '2014-11-17'),
 (1751031732, 981.2, '2014-01-24'),
 (813643092, 783.91, '2015-12-19'),
 (1653401240, 557.66, '2014-01-02'),
 (2143444662, 769.51, '2015-04-30'),
 (798322546, 309.66, '2015-08-13'),
 (243559652, 647.41, '2015-11-19'),
 (710759389, 466.74, '2015-04-11'),
 (1001778000, 553.42, '2014-07-06'),
 (1381127735, 751.94, '2015-12-28'),
 (1475067270, 996.18, '2014-03-06'),
 (1908342913, 702.17, '2015-08-17'),
 (1398082258, 338.61, '2015-07-07'),
 (2001002440, 879.15, '2015-06-18'),
 (1599043955, 700.87, '2014-08-09'),
 (790006858, 830.83, '2014-07-15'),
 (1576217489, 72.29, '2014-06-16'),
 (1661383056, 353.6, '2014-07-30'),
 (1606102522, 813.43, '2015-08-19'),
 (1542504319, 134.44, '2015-07-15'),
 (1373355253, 957.63, '2015-02-26'),
 (165549361, 723.73, '2014-01-21'),
 (1849710729, 641.96, '2014-07-30'),
 (921967985, 576.19, '2014-10-09'),
 (759348435, 930.26, '2014-09-22'),
 (1745443024, 390.82, '2015-12-12'),
 (1897106146, 948.33, '2014-06-03'),
 (609016235, 191.67, '2015-08-15'),
 (1891918091, 316.34, '2014-03-16'),
 (159953109, 500.1, '2014-03-10'),
 (1279750655, 244.3, '2014-12-24'),
 (910277705, 608.83, '2014-06-28'),
 (960463750, 953.91, '2014-10-14'),
 (1310696499, 668.54, '2014-06-03'),
 (545813928, 855.96, '2015-03-26'),
 (689815095, 502.56, '2014-12-18'),
 (169920873, 532.92, '2015-07-19'),
 (1289759744, 427.2, '2014-10-09'),
 (1638903582, 637.31, '2015-03-13'),
 (223213337, 306.49, '2015-10-06'),
 (516739195, 523.4, '2015-06-05'),
 (2003988781, 437.89, '2015-07-24'),
 (48867174, 797.27, '2014-03-16'),
 (779362561, 800.95, '2015-11-10'),
 (181929159, 891.68, '2015-03-05'),
 (1067588862, 946.26, '2015-06-07'),
 (1254235459, 28.0, '2015-10-31'),
 (1960722221, 310.59, '2014-11-01'),
 (1345169224, 641.88, '2014-02-28'),
 (658510595, 645.9, '2014-07-30'),
 (1004518758, 756.79, '2014-05-29'),
 (1339461923, 834.85, '2014-01-04'),
 (2070852170, 297.68, '2014-11-28'),
 (574905939, 684.94, '2015-04-11'),
 (2062727878, 815.3, '2015-11-28'),
 (1942011549, 442.1, '2014-03-06'),
 (875437739, 166.22, '2015-06-09'),
 (257907993, 759.99, '2015-09-13'),
 (1911365604, 898.3, '2015-01-13'),
 (1063008239, 971.49, '2014-08-06'),
 (1663813195, 620.62, '2015-01-10'),
 (882594588, 983.8, '2014-04-18'),
 (1566555344, 636.99, '2015-12-04'),
 (446663590, 308.83, '2015-10-18'),
 (403148245, 468.34, '2015-03-29'),
 (205125218, 325.73, '2015-10-04'),
 (1429933265, 931.16, '2015-11-14'),
 (1752080023, 944.65, '2015-01-28'),
 (1175545122, 827.5, '2014-04-26'),
 (1886828137, 484.5, '2015-07-16'),
 (234720312, 404.24, '2014-03-14'),
 (1639920674, 40.2, '2014-05-17'),
 (1802871671, 682.2, '2015-05-29'),
 (1745656277, 282.12, '2015-01-30'),
 (728975741, 807.52, '2014-07-05'),
 (724625993, 438.54, '2015-11-12'),
 (1507588333, 14.43, '2015-08-16'),
 (1621834576, 594.41, '2015-03-21'),
 (116912333, 402.8, '2014-03-29'),
 (335225642, 126.43, '2015-01-26'),
 (1091595596, 919.14, '2014-04-08'),
 (147692209, 723.88, '2014-02-22'),
 (202059534, 214.37, '2015-04-07'),
 (89954992, 649.23, '2014-09-19'),
 (76310715, 191.26, '2014-04-04'),
 (19772335, 302.72, '2015-01-05'),
 (1136402450, 103.74, '2015-02-08'),
 (1341512771, 136.14, '2015-04-06'),
 (902153319, 259.83, '2014-10-23'),
 (2102469938, 115.97, '2015-02-13'),
 (1786325504, 876.93, '2014-09-06'),
 (1594180785, 776.73, '2014-01-12'),
 (1278304757, 437.89, '2014-11-22'),
 (2107439244, 323.72, '2014-01-20'),
 (479038202, 743.13, '2014-03-04'),
 (218814718, 876.1, '2015-08-22'),
 (2055173059, 347.4, '2014-12-12'),
 (521419548, 787.55, '2014-12-31'),
 (570034586, 461.84, '2015-03-23'),
 (303631802, 285.2, '2015-07-21'),
 (2137991069, 486.18, '2015-10-02'),
 (807503621, 960.72, '2015-11-12'),
 (1019912337, 167.47, '2015-08-01'),
 (411335483, 142.47, '2015-11-28'),
 (802848929, 322.51, '2015-07-11'),
 (1892335908, 449.9, '2014-06-17'),
 (598599005, 789.95, '2014-12-05'),
 (1063147163, 85.73, '2015-08-12'),
 (624249564, 966.14, '2015-03-11'),
 (815039910, 471.76, '2015-01-08'),
 (1345285991, 21.19, '2014-10-08'),
 (158040723, 472.49, '2014-02-18'),
 (755142521, 368.51, '2014-03-21'),
 (277873907, 352.27, '2014-05-02'),
 (1816088972, 472.88, '2014-02-26'),
 (1860044163, 354.43, '2014-07-31'),
 (1952930528, 103.34, '2014-12-05'),
 (1066016460, 409.66, '2014-01-21'),
 (1647970460, 376.85, '2014-11-06'),
 (1572272512, 773.73, '2014-11-19'),
 (1910099135, 758.5, '2014-10-06'),
 (166959651, 130.84, '2014-09-13'),
 (1703007561, 191.32, '2014-06-01'),
 (1544378139, 794.24, '2014-01-16'),
 (2006097975, 541.66, '2015-10-12'),
 (667132364, 288.66, '2015-06-09'),
 (85897266, 93.15, '2014-05-31'),
 (1030712024, 781.83, '2015-11-21'),
 (501145713, 504.46, '2015-10-23'),
 (1074966321, 83.95, '2015-06-02'),
 (312406597, 13.48, '2015-08-08'),
 (359849351, 659.26, '2015-09-22'),
 (39544872, 576.78, '2015-09-13'),
 (587241867, 396.38, '2015-01-22'),
 (1101198843, 950.31, '2015-02-11'),
 (1766105589, 309.58, '2015-07-03'),
 (274665825, 3.67, '2015-10-20'),
 (1944552558, 93.67, '2014-11-29'),
 (584154126, 55.93, '2014-04-16'),
 (560486868, 955.2, '2015-07-26'),
 (1865221133, 376.11, '2015-12-22'),
 (217835983, 721.7, '2014-10-30'),
 (360845627, 264.54, '2014-07-29'),
 (1415275041, 368.8, '2015-08-11'),
 (1539488961, 442.7, '2015-06-15'),
 (1863631377, 876.61, '2014-09-12'),
 (1480250333, 225.45, '2014-02-03'),
 (900540023, 515.8, '2015-02-19'),
 (1000007695, 713.12, '2014-09-29'),
 (754976677, 825.85, '2015-03-31'),
 (39852823, 530.4, '2014-01-09'),
 (1135473082, 312.33, '2014-01-19'),
 (1960036803, 37.1, '2014-01-26'),
 (33176201, 440.92, '2014-10-15'),
 (986892769, 324.51, '2015-04-15'),
 (690184116, 642.57, '2014-10-22'),
 (694697983, 882.63, '2015-09-23'),
 (717630968, 219.77, '2015-10-20'),
 (551151045, 758.5, '2014-07-12'),
 (352441596, 354.76, '2014-02-25'),
 (1138815128, 455.82, '2015-10-24'),
 (1709266584, 903.21, '2014-07-01'),
 (326949198, 222.35, '2015-07-01'),
 (188588194, 787.13, '2014-07-13'),
 (94392164, 979.7, '2014-11-28'),
 (1121546693, 884.11, '2015-09-23'),
 (1310157859, 699.46, '2014-09-12'),
 (1406040349, 55.61, '2014-10-19'),
 (777488310, 347.91, '2014-08-03'),
 (1110210663, 200.27, '2014-11-06'),
 (1479809106, 337.72, '2014-07-05'),
 (285411703, 951.0, '2014-04-08'),
 (1179013330, 606.24, '2015-02-07'),
 (1262934562, 588.56, '2014-03-01'),
 (870998993, 16.39, '2014-08-01'),
 (971197319, 470.11, '2014-06-24'),
 (251317046, 256.31, '2015-02-26'),
 (510773795, 305.88, '2015-02-13'),
 (19000055, 600.68, '2015-10-02'),
 (488154237, 113.95, '2015-02-18'),
 (859061953, 176.12, '2014-07-27'),
 (2123716644, 252.24, '2014-07-20'),
 (975301626, 910.91, '2014-05-24'),
 (1554175170, 785.91, '2015-07-14'),
 (131321736, 891.16, '2014-04-27'),
 (1356907194, 90.73, '2015-02-07'),
 (2013876961, 285.84, '2015-07-19'),
 (744615641, 311.57, '2014-01-23'),
 (277873907, 58.3, '2014-04-16'),
 (911272916, 517.23, '2014-10-21'),
 (760420010, 355.91, '2014-09-04'),
 (211587489, 436.35, '2014-10-21'),
 (1153069886, 629.67, '2015-01-08'),
 (853112574, 786.9, '2015-09-01'),
 (297116499, 343.66, '2014-03-06'),
 (161949739, 905.8, '2014-06-12'),
 (1651895762, 595.26, '2015-01-06'),
 (1763190656, 420.9, '2014-07-18'),
 (1633919401, 929.75, '2014-09-30'),
 (183120100, 452.72, '2014-04-28'),
 (3625829, 860.84, '2015-11-05'),
 (1158785736, 566.71, '2014-02-04'),
 (731399927, 647.44, '2014-12-06'),
 (890688747, 923.4, '2015-09-01'),
 (1407975649, 522.38, '2015-06-15'),
 (983559185, 56.74, '2015-03-30'),
 (683619138, 902.16, '2015-10-02'),
 (1697956661, 742.67, '2014-05-22'),
 (1266812049, 19.14, '2014-12-23'),
 (1924443407, 164.31, '2015-07-13'),
 (843988096, 17.28, '2014-11-29'),
 (1237720976, 615.67, '2014-01-07'),
 (1276829308, 583.57, '2014-11-28'),
 (761416165, 554.76, '2014-11-20'),
 (1083984301, 476.47, '2014-06-03'),
 (1274069257, 408.4, '2014-05-18'),
 (421486162, 423.9, '2015-08-14'),
 (592807879, 25.36, '2014-11-18'),
 (1454176393, 533.71, '2014-12-27'),
 (704438710, 423.71, '2014-07-29'),
 (831701080, 492.96, '2015-12-06'),
 (123185109, 971.62, '2014-03-17'),
 (801520407, 431.88, '2015-08-19'),
 (865321159, 297.45, '2015-10-23'),
 (1670343682, 64.37, '2015-08-25'),
 (1329746924, 362.4, '2015-09-22'),
 (1523836044, 850.8, '2014-09-16'),
 (377495471, 144.82, '2014-09-23'),
 (1482373645, 435.94, '2015-12-03'),
 (1434825633, 847.72, '2015-12-03'),
 (1713232929, 90.86, '2014-06-14'),
 (162087057, 220.31, '2014-02-04'),
 (1071856794, 926.76, '2014-09-03'),
 (1345904733, 765.97, '2015-08-18'),
 (801520407, 688.4, '2015-10-12'),
 (1203181342, 333.1, '2014-02-24'),
 (679922891, 928.81, '2015-08-21'),
 (1818901527, 219.23, '2014-11-10'),
 (263487297, 30.19, '2014-02-02'),
 (925130868, 317.17, '2015-10-09'),
 (324543269, 107.29, '2014-05-25'),
 (1193353413, 911.97, '2015-02-02'),
 (632828322, 227.37, '2015-01-23'),
 (643946738, 616.32, '2014-01-03'),
 (1561940557, 795.52, '2014-03-05'),
 (98392267, 776.25, '2015-03-05'),
 (367317663, 396.14, '2014-04-04'),
 (731698256, 350.26, '2015-10-09'),
 (894735569, 920.92, '2014-02-27'),
 (400371236, 436.35, '2014-04-04'),
 (28437226, 507.45, '2015-11-10'),
 (850789353, 795.99, '2014-12-17'),
 (1264693145, 79.77, '2015-04-07'),
 (1754034154, 255.7, '2015-10-24'),
 (1110020224, 243.7, '2015-03-28'),
 (1502786057, 852.79, '2014-03-19'),
 (178627341, 48.44, '2014-08-15'),
 (1947169366, 376.4, '2015-06-03'),
 (338940616, 82.38, '2014-10-08'),
 (1324357691, 145.88, '2014-03-13'),
 (1066257055, 317.82, '2014-06-19'),
 (1405880996, 378.12, '2014-10-26'),
 (1338736805, 157.78, '2015-04-21'),
 (1161198089, 473.97, '2014-08-17'),
 (2068179206, 281.6, '2014-10-12'),
 (1784629141, 538.79, '2014-02-04'),
 (1947169366, 116.85, '2015-05-21'),
 (616459566, 215.26, '2015-09-08'),
 (153300785, 16.17, '2015-04-24'),
 (818464984, 867.44, '2014-01-06'),
 (1114331732, 504.73, '2014-07-09'),
 (125535530, 534.15, '2015-05-31'),
 (683619138, 37.9, '2015-11-06'),
 (968094929, 246.45, '2015-05-28'),
 (313049965, 26.12, '2015-09-16'),
 (1978307552, 642.43, '2015-11-05'),
 (489511967, 339.9, '2015-01-05'),
 (126945024, 236.54, '2014-08-18'),
 (1620469294, 510.25, '2014-05-12'),
 (1835311261, 837.54, '2014-05-08'),
 (764297952, 185.99, '2015-11-18'),
 (2003987855, 178.8, '2014-05-18'),
 (2012800012, 876.7, '2014-08-31'),
 (230861880, 775.58, '2014-08-02'),
 (626217043, 91.24, '2014-05-14'),
 (241460268, 256.56, '2014-04-21'),
 (1047319421, 814.22, '2015-08-18'),
 (1391317495, 717.55, '2015-11-20'),
 (1324357691, 547.57, '2015-06-15'),
 (274561111, 590.83, '2015-03-21'),
 (1001186776, 206.83, '2015-12-02'),
 (1075194228, 127.29, '2015-01-28'),
 (2067527662, 824.53, '2014-03-03'),
 (803319452, 710.52, '2014-09-22'),
 (535501305, 117.29, '2015-03-18'),
 (403994286, 462.68, '2015-10-17'),
 (1659324273, 940.62, '2015-07-22'),
 (1314557369, 451.4, '2015-08-12'),
 (1147925506, 359.26, '2015-02-01'),
 (507735031, 126.64, '2014-10-02'),
 (1952752219, 608.93, '2015-06-08'),
 (461053348, 342.68, '2014-05-20'),
 (2130721946, 902.55, '2014-10-05'),
 (1654225647, 896.98, '2014-10-27'),
 (1919087399, 943.15, '2015-10-30'),
 (1724216843, 86.12, '2014-09-22'),
 (1648344424, 52.85, '2014-06-30'),
 (1287426184, 117.35, '2014-02-23'),
 (1040455660, 342.48, '2014-08-04'),
 (305984206, 793.69, '2015-07-06'),
 (813645292, 696.45, '2015-12-13'),
 (1490114424, 592.44, '2015-12-06'),
 (1841220800, 557.26, '2014-07-27'),
 (1257106173, 159.1, '2015-02-15'),
 (49927577, 996.1, '2014-01-08'),
 (1888100727, 143.71, '2014-09-30'),
 (305694094, 707.99, '2015-04-27'),
 (683126812, 992.16, '2014-09-30'),
 (1035074812, 615.15, '2014-11-07'),
 (716253494, 621.98, '2015-06-29'),
 (1561940557, 491.27, '2015-12-09'),
 (1191565972, 459.56, '2014-07-03'),
 (2008174919, 957.76, '2014-10-04'),
 (1632236493, 283.54, '2014-10-04'),
 (1122616065, 555.68, '2014-06-09'),
 (1590995115, 470.34, '2015-04-26'),
 (759538576, 651.54, '2014-05-20'),
 (225031139, 774.78, '2015-07-09'),
 (1073145763, 759.73, '2014-10-14'),
 (2022054287, 849.2, '2014-11-05'),
 (764257873, 298.56, '2014-11-15'),
 (949665883, 952.9, '2015-08-14'),
 (1268738437, 982.15, '2015-06-18'),
 (545365609, 483.17, '2015-01-31'),
 (1711894070, 923.23, '2015-06-02'),
 (201371328, 192.58, '2014-11-27'),
 (553016895, 804.48, '2014-11-10'),
 (644252496, 644.39, '2014-10-22'),
 (994432793, 356.23, '2014-12-30'),
 (1062568999, 614.53, '2015-07-21'),
 (2092056436, 719.85, '2015-09-16'),
 (1299394988, 67.3, '2014-12-04'),
 (241460268, 931.72, '2014-03-12'),
 (1813070088, 497.36, '2015-02-15'),
 (1125087989, 964.81, '2014-12-13'),
 (691238145, 252.1, '2015-03-13'),
 (439126402, 62.98, '2014-06-16'),
 (1769432879, 369.23, '2015-08-27'),
 (1432484666, 656.76, '2014-08-16'),
 (847569525, 955.62, '2014-08-07'),
 (898511499, 118.36, '2014-05-23'),
 (959944593, 721.84, '2015-11-29'),
 (514283416, 654.71, '2014-03-07'),
 (840944727, 556.43, '2014-12-17'),
 (1054665707, 816.8, '2015-01-17'),
 (842745954, 807.29, '2015-07-29'),
 (1157964867, 533.15, '2014-11-23'),
 (799886316, 631.58, '2015-10-02'),
 (660381020, 311.77, '2014-10-03'),
 (1430271812, 556.85, '2015-09-19'),
 (1500437557, 854.89, '2015-04-11'),
 (1051728298, 59.15, '2014-01-09'),
 (1815324586, 770.6, '2015-07-01'),
 (1034104617, 273.92, '2014-08-06'),
 (1144437858, 86.9, '2014-06-29'),
 (683022372, 576.28, '2014-12-31'),
 (2052693361, 110.19, '2014-08-11'),
 (362628893, 384.71, '2014-10-18'),
 (124094369, 448.11, '2014-02-22'),
 (1535091786, 109.27, '2015-10-11'),
 (358171291, 337.6, '2015-11-06'),
 (1777441128, 286.6, '2014-11-17'),
 (1753754519, 389.55, '2015-08-29'),
 (1905575487, 922.43, '2014-07-03'),
 (1006885743, 395.24, '2015-01-17'),
 (1010826101, 716.57, '2015-05-12'),
 (1780961361, 234.4, '2014-10-24'),
 (1314270512, 735.38, '2015-01-01'),
 (1384288142, 35.18, '2014-12-24'),
 (694232267, 15.33, '2014-08-06'),
 (1922397043, 480.76, '2014-12-20'),
 (130096813, 179.45, '2015-06-23'),
 (1012035576, 266.51, '2015-09-25'),
 (1574049757, 310.9, '2014-12-24'),
 (2130092789, 117.83, '2014-05-01'),
 (1853976172, 183.84, '2015-12-26'),
 (507287865, 710.92, '2015-10-11'),
 (1917506779, 548.45, '2014-11-10'),
 (1702604948, 356.18, '2014-06-04'),
 (759915281, 558.29, '2015-05-30'),
 (1907378634, 10.18, '2015-09-24'),
 (285203606, 55.19, '2014-03-28'),
 (1079745208, 529.85, '2014-12-19'),
 (1447745974, 771.21, '2015-02-26'),
 (425210449, 660.13, '2014-10-12'),
 (1422308240, 456.43, '2015-03-05'),
 (1426985003, 562.0, '2015-08-02'),
 (1641048183, 639.52, '2015-05-14'),
 (784857116, 107.74, '2015-01-06'),
 (177959892, 101.37, '2014-12-06'),
 (1902126714, 903.7, '2014-10-22'),
 (1308412262, 322.95, '2015-03-20'),
 (204968618, 504.19, '2014-12-15'),
 (292080267, 275.52, '2014-09-09'),
 (591443015, 279.7, '2014-10-27'),
 (1763845131, 255.15, '2015-08-03'),
 (2049075496, 701.87, '2015-01-16'),
 (1666600421, 623.89, '2015-10-21'),
 (1669892635, 154.48, '2014-07-05'),
 (1083571374, 818.51, '2014-09-21'),
 (1888440202, 856.9, '2014-08-26'),
 (1779911676, 480.1, '2015-02-14'),
 (156183318, 213.18, '2015-03-06'),
 (826589058, 688.18, '2015-08-24'),
 (2077547030, 379.7, '2015-05-22'),
 (995586329, 449.72, '2014-02-26'),
 (653839908, 627.57, '2015-11-22'),
 (752830585, 761.23, '2014-12-24'),
 (796401622, 562.15, '2014-05-10'),
 (739704300, 562.83, '2014-11-14'),
 (663868565, 288.77, '2014-05-02'),
 (1787710257, 637.95, '2014-07-01'),
 (2108013632, 574.85, '2015-02-07'),
 (1471247668, 441.33, '2015-10-26'),
 (762135297, 349.3, '2015-12-13'),
 (553649469, 69.79, '2014-11-30'),
 (1276479660, 811.69, '2015-11-30'),
 (1788872785, 713.18, '2014-03-29'),
 (101955558, 661.47, '2014-03-08'),
 (1333392367, 296.95, '2015-12-30'),
 (601958937, 951.3, '2014-06-22'),
 (1362625775, 456.4, '2015-09-07'),
 (388367015, 665.92, '2014-07-01'),
 (1416840833, 784.75, '2014-09-05'),
 (1953574114, 836.94, '2014-11-29'),
 (1732389178, 625.9, '2015-03-03'),
 (1827075876, 109.69, '2014-12-30'),
 (413320548, 444.99, '2015-02-12'),
 (1787021739, 770.99, '2015-08-14'),
 (1468427990, 449.91, '2015-09-15'),
 (1496539019, 360.4, '2014-07-27'),
 (171564350, 444.34, '2015-05-18'),
 (519516626, 993.26, '2015-09-07'),
 (86025434, 884.68, '2015-04-11'),
 (1501891376, 789.68, '2014-12-30'),
 (878639527, 458.32, '2014-09-01'),
 (1005631959, 264.3, '2015-09-21'),
 (1866337367, 252.87, '2014-01-09'),
 (1010338026, 114.33, '2014-10-17'),
 (1957509423, 817.33, '2015-12-05'),
 (1727900075, 767.38, '2015-02-15'),
 (737112506, 294.25, '2015-02-16'),
 (1439618797, 855.59, '2014-09-04'),
 (1538084921, 614.4, '2014-12-20'),
 (249326381, 952.34, '2014-10-20'),
 (450947317, 407.11, '2015-06-21'),
 (185129308, 557.2, '2015-04-19'),
 (1733449960, 783.12, '2014-10-03'),
 (1627370342, 932.4, '2014-04-16'),
 (1711288300, 205.77, '2014-06-20'),
 (1658576439, 359.92, '2014-01-27'),
 (1055754402, 861.46, '2015-03-06'),
 (1766220154, 867.92, '2014-01-17'),
 (1867447911, 194.51, '2015-11-17'),
 (840116542, 573.1, '2015-09-09'),
 (804883281, 314.55, '2015-11-10'),
 (694271425, 835.58, '2015-07-05'),
 (494619197, 122.3, '2014-01-16'),
 (528846775, 125.85, '2014-06-03'),
 (1086015580, 508.77, '2015-11-24'),
 (1692817351, 229.46, '2015-12-02'),
 (106058999, 932.98, '2014-08-30'),
 (1701962237, 401.93, '2015-01-29'),
 (396951255, 426.73, '2015-03-24'),
 (1636053448, 127.58, '2014-09-05'),
 (437135522, 754.6, '2014-02-05'),
 (841534169, 203.4, '2014-05-06'),
 (1983132005, 302.45, '2015-02-19'),
 (1006885743, 45.97, '2014-12-15'),
 (737294905, 804.21, '2015-02-13'),
 (1049828760, 504.49, '2015-12-16'),
 (1069252559, 24.65, '2014-01-13'),

In [97]:
casting_function(['815581247','144.82','2015-09-05'])

(815581247, 144.82, '2015-09-05')

In [101]:
schema = StructType([
    StructField('user_id',IntegerType(), True),
    StructField('money', FloatType(), True),
    StructField('date', StringType(), True)])

df = spark.createDataFrame(transactions_rdd, schema)

# show the result
df.show()

# print the schema
df.printSchema()

df = df.select('user_id', unix_timestamp('date', 'yyyy-MM-dd').cast(TimestampType()).cast(DateType()).alias('proper_date'),'money')
df.show()
df.printSchema()

+----------+------+----------+
|   user_id| money|      date|
+----------+------+----------+
| 815581247|144.82|2015-09-05|
|1534673027|140.93|2014-03-11|
| 842468364|104.26|2014-05-06|
|1720001139| 194.6|2015-08-24|
|1397891675|307.72|2015-09-25|
| 926282663| 36.69|2014-10-24|
| 694853136| 39.59|2014-11-26|
| 636287877|430.94|2015-06-12|
|1396310477|  31.4|2014-12-05|
|1279939289|180.69|2015-03-26|
| 859061953|383.35|2014-06-06|
|1983919868| 256.2|2015-09-28|
| 589339046|930.56|2014-09-21|
|1559785598|423.77|2015-05-18|
| 347589978|309.53|2015-10-11|
| 963722938|299.19|2014-04-06|
|1808365853|426.21|2015-09-10|
| 417552135|732.27|2015-09-30|
| 744965566|186.33|2015-12-30|
|1513020241| 925.8|2014-10-06|
+----------+------+----------+
only showing top 20 rows

root
 |-- user_id: integer (nullable = true)
 |-- money: float (nullable = true)
 |-- date: string (nullable = true)

+----------+-----------+------+
|   user_id|proper_date| money|
+----------+-----------+------+
| 815581247| 2015-09-05|144.82|
|1534673027| 2014-03-11|140.93|
| 842468364| 2014-05-06|104.26|
|1720001139| 2015-08-24| 194.6|
|1397891675| 2015-09-25|307.72|
| 926282663| 2014-10-24| 36.69|
| 694853136| 2014-11-26| 39.59|
| 636287877| 2015-06-12|430.94|
|1396310477| 2014-12-05|  31.4|
|1279939289| 2015-03-26|180.69|
| 859061953| 2014-06-06|383.35|
|1983919868| 2015-09-28| 256.2|
| 589339046| 2014-09-21|930.56|
|1559785598| 2015-05-18|423.77|
| 347589978| 2015-10-11|309.53|
| 963722938| 2014-04-06|299.19|
|1808365853| 2015-09-10|426.21|
| 417552135| 2015-09-30|732.27|
| 744965566| 2015-12-30|186.33|
|1513020241| 2014-10-06| 925.8|
+----------+-----------+------+
only showing top 20 rows

root
 |-- user_id: integer (nullable = true)
 |-- proper_date: date (nullable = true)
 |-- money: float (nullable = true)

In [102]:
df.createOrReplaceTempView('UserMoney')

In [164]:
last = spark.sql('''
SELECT id, SUM(UserMoney.money), users.name
FROM UserMoney, users
WHERE id = user_id
GROUP BY id, user_id, users.name
ORDER BY sum(money) DESC
''')
last.show()

+----------+------------------+--------------------+
|        id|        sum(money)|                name|
+----------+------------------+--------------------+
| 196163569|21945.299961090088|  Kashawn Macpherson|
| 681405035|21773.509883880615|       Brysten Jeffs|
|1105929083|21120.549940109253|      Martez Carlyle|
| 171453878|20641.110204696655|         Jaivyn Hoks|
|1295065819| 20380.15988922119|       Bryanne Stopp|
| 791379582|20322.109855651855|Leanthony Waldegrave|
| 488297509| 20230.06000518799| Roosevelt Gooderham|
|1702604948|20172.169887542725|       Demont Howell|
| 707056747| 20163.90997314453|      Nasteha Bister|
|1438177405| 19998.19010066986|    Analaura Beetham|
| 175469806| 19915.26010131836|  Jezabel Lafreniere|
|1356654037|19820.009912490845|     Harmany Slemons|
|1839031433|19629.419967651367|   Alexsandro Bartyn|
| 819593679| 19589.98989391327|  Sophialynn Ramsden|
| 693179410|19588.799982070923|       Andri Fordyce|
| 473705896|  19525.3399848938|        Joia Dearden|
| 415598714|19481.819900512695| Chyenne Fareweather|
|  29894485|19394.870000839233|   Evangelina Harrow|
| 285411703|19371.939971923828|     Kadarius Mccune|
|  47385336|19348.990001678467|      Jonatan Barham|
+----------+------------------+--------------------+
only showing top 20 rows

In [170]:
# Dataframe Style
new_df = yelp.join(df, df.user_id == yelp.id, how='inner').orderBy('money', ascending=False)\
.select(['name','money', 'id'])

new_df.show(10)

+-----------------+------+----------+
|             name| money|        id|
+-----------------+------+----------+
|      Raziel Merk|999.99| 504736332|
|    Andrian Waite|999.99| 225990677|
|    Kianu Dyneley|999.99| 197275390|
|   Landri Fulshur|999.99|1093225999|
|      Ori Horrage|999.98| 740624030|
|Leilani Cranstoun|999.98|1009490315|
|Samyrah Milbourne|999.98|  50874512|
|   Vishwak Farrow|999.98| 420754422|
|    Veida Hubbard|999.98|2141604701|
|   Zasia Scrivens|999.98|1378643543|
+-----------------+------+----------+
only showing top 10 rows